.continuous-improvement {
  height: 90vh;
  padding: 10vh 0;
}

.continuous-improvement .heading {
  letter-spacing: 3px;
  font-weight: 500;
  margin-bottom: 7vh;
}
.continuous-improvement .time-to-discover-mag-rubber {
  width: 70%;
  margin-left: 15%;
}
