.continuous-improvement {
  height: 90vh;
  padding: 10vh 0;
}

.continuous-improvement .section-header {
  margin-bottom: 7vh;
}
.continuous-improvement .time-to-discover-mag-rubber {
  width: 70%;
  margin-left: 15%;
}
