.services-section {
    position: relative;
    padding: 0px 0px 80px;
    background-color: #EDEDED;
  
}

.faded-text {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    top: -27px;
    text-align: center;
}

    .auto-container {
    position: static;
    max-width: 1200px;
    padding: 0px 15px;
    margin: 0 auto;}

    .sec-title .sub-title h2 {
        position: relative;
        display: flex;
        justify-content: center;
        vertical-align: middle;
        font-size: 48px;
        line-height: 1.5em;
        font-weight: 700;
        text-transform: uppercase;
        color: var(--gold) !important;
        letter-spacing: 3px;
        margin-bottom: 50px;
  
    }

    .marquee{
        color: #EDEDED;
        font-size: 1em;
        text-shadow: -2px 0 #fff, -2px 0, 0 2px , 0 -2px #fff,
        1px 1px , -1px -1px , 1px -1px , -1px 1px;
        position: relative;
        display: block;
        font-size: 84px;
        line-height: 1em;
        letter-spacing: 8px;
        text-transform: uppercase;
        opacity: 0.9;
        font-weight: 100;
        font-family:'Gilroy-Bold', sans-serif;
    }

  