.carousel {
  margin-top: 10vh;
  height: 90vh;
  /* position: relative; */
}

.carousel-item .carousel-item-text {
  position: absolute;
  top: 45vh;
  font-size: 100px !important;
  transform: translate(-50%, -50%) !important;
  -webkit-transform: translate(-50%, -50%) !important;
  -moz-transform: translate(-50%, -50%) !important;
  -ms-transform: translate(-50%, -50%) !important;
  -o-transform: translate(-50%, -50%) !important;
  transition: left 0.8s ease-out;
  -webkit-transition: left 0.8s ease-out;
  -moz-transition: left 0.8s ease-out;
  -ms-transition: left 0.8s ease-out;
  -o-transition: left 0.8s ease-out;
  left: 135%;
  visibility: hidden;
}
.carousel-item .carousel-item-text .text-content {
  font-weight: 900;
  letter-spacing: 2px;
  font-size: 60px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: none !important;
  opacity: 0.6;
}
.carousel-control-prev-icon img,
.carousel-control-next-icon img {
  width: 75px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
}
.carousel-control-prev-icon:focus,
.carousel-control-prev-icon:active,
.carousel-control-next:focus {
  opacity: 0.1 !important;
}

.slide-text {
  color: gray;
  writing-mode: vertical-lr;
  margin-left: -3px;
  letter-spacing: 5px;
  padding-top: 4rem !important;
  margin-top: 5rem;
}

.carousel-indicators {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 80% !important;
  left: auto !important;
  bottom: 15% !important;
}

.circle-button {
  width: 12px !important;
  height: 12px !important;
  margin: 9px;
  background-color: transparent !important;
  color: inherit;
  transition: all 0.5s;
  border-top: 2px solid gray !important;
  border-bottom: 2px solid gray !important;
  border-left: 2px solid gray !important;
  border-right: 2px solid gray !important;
}
.circle-button.active {
  background-color: gray !important;
}

.carousel-item {
  position: relative !important;
}
.carousel-item .second-image {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  position: absolute;
  left: -100vw;
  transition: left 0.92s ease-out;
  -webkit-transition: left 0.92s ease-out;
  -moz-transition: left 0.92s ease-out;
  -ms-transition: left 0.92s ease-out;
  -o-transition: left 0.92s ease-out;
}

.carousel-item.active .carousel-item-text {
  left: 75vw !important;
  visibility: visible;
}

.carousel-item.active .second-image {
  left: 7vw;
}
/* .carousel .centered-border {
  position: absolute;
  left: 50%;
  width: 1px;
  height: 100%;
  background-color: red;
  z-index: 2000;
}
.carousel .centered-horizontal-border {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 1px;
  background-color: red;
  z-index: 2000;
} */

@media screen and (max-width: 1920px) {
  .carousel-item.active .second-image {
    left: 3vw;
  }
}


.carousel-caption-white{
  color: white !important;
  text-shadow: 4px 4px black
 }

