@import "./abstracts/variables.css";
@import "./abstracts/mixins.css";

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', Helvetica, sans-serif;
  box-sizing: border-box;
}

*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: #000;
}

main {
  margin-top: 90px;
}

a {
  color: inherit !important;
  text-decoration: none !important;
}

li {
  content: "";
  border-color: transparent #111;
  border-style: solid;
  border-width: 0.35em 0 0.35em 0.45em;
  display: block;
  height: 0;
  width: 0;
  left: -1em;
  top: 0.9em;
  position: relative;
}

button {
  outline: none;
  border: none;
  background-color: inherit;
}