@import './abstracts/variables.css';
@import './abstracts/mixins.css';
@import './abstracts/functions.css';

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', Helvetica, sans-serif;
  box-sizing: border-box;
}

*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  scroll-padding: 10%;
}

body {
  color: var(--black);
}

main {
  margin-top: 90px;
}

a {
  color: inherit !important;
  text-decoration: none !important;
}

li {
  list-style-type: none;
}

button {
  outline: none;
  border: none;
  background-color: inherit;
}
