.about-section{
background-color: #EDEDED;
padding: 100px 10px 100px 50px;
display: flex;
height: 90%;


}

.about-text{
    margin-top: 50px;
}

.about-text p {
    font-size: 24px;
    font-weight: 100;
    line-height: 4vh;
   
}

.left-image{
    width: 80%;
    margin-left: 50px;
}
