.about-section{
background-color: #EDEDED;
padding: 100px 10px 100px 50px;
display: flex;
height: 90%;

}

.about-text{
    margin-top: 50px;
}

.about-text p {
    font-size: 32px;
    font-weight: 500;
    letter-spacing: 3px;
    line-height: 5vh;
   
}

.center-image{
    width: 50%;
    position: relative;
    display: flex;
    top: 20%;
}

.left-image{
    width: 80%;
    margin-left: 50px;
}
