@import url("https://fonts.googleapis.com/css?family=Montserrat:900");
 .pop-out-wrapper {
	background: url("/public/assets/images/54-years.jpg") no-repeat left / 120%;
	text-align: center;
	animation: sliding-background 40s linear infinite;
	width: 100%;

}
.pop-out-wrapper h1{
	 background: white;
	 color: white;
	 font-family: "Montserrat", sans-serif;
	 font-size: 6vw;
	 letter-spacing: 1vw;
     margin: 0;
	 mix-blend-mode: lighten;
	 text-transform: uppercase;
     text-shadow: 0 0 0px, 1px 1px black, 2px 2px black, 3px 3px black, 4px 4px black, 5px 5px black, 6px 6px black, 7px 7px black, 8px 8px black, 9px 9px black, 10px 10px black, 11px 11px black, 12px 12px black, 13px 13px black, 14px 14px black, 15px 15px black;
}
.pop-out-wrapper h1:before {
	 margin-left: -1%;
	 margin-top: -1%;
	 position: absolute;
}
.pop-out-wrapper h2 {
	 background: white;
	 color: white;
	 font-family: "Montserrat", sans-serif;
	 font-size: 4vw;
	 letter-spacing: 1vw;
     margin: 0;
	 mix-blend-mode: lighten;
	 text-transform: uppercase;
     text-shadow: 0 0 0px, 1px 1px black, 2px 2px black, 3px 3px black, 4px 4px black, 5px 5px black, 6px 6px black, 7px 7px black, 8px 8px black, 9px 9px black, 10px 10px black, 11px 11px black, 12px 12px black, 13px 13px black, 14px 14px black, 15px 15px black;
	 padding:20px 0px 100px 0px;
}
.pop-out-wrapper h2:before {
	 margin-left: -1%;
	 margin-top: -1%;
	 position: absolute;
}

 @keyframes sliding-background {
	 0%, 100% {
		 background-position: 0 40%;
	}
	 50% {
		 background-position: 100% 40%;
	}
}
 