.wrapper {
  height: 90vh;
  background-color: #ededed;
  padding: 200px 0;
}

.carousel {
  height: 100%;
}

.carousel-button {
  display: flex;
  justify-content: center;
}

.owl-next {
  width: 70px;
}

.owl-next img {
  width: 30px;
}
.owl-prev img {
  width: 30px;
}
