.custom-carousel-wrapper {
  background-color: #ededed;
  height: 90vh;
  position: relative;
}
.custom-carousel {
  padding: 10vh 0;
}

.custom-carousel .owl-next {
  width: 70px;
}
.custom-carousel .owl-nav {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-left: 20px;
  gap: 350px;
}

.custom-carousel .owl-next img {
  width: 30px;
}
.custom-carousel .owl-prev img {
  width: 30px;
}
.custom-carousel .m_scroll_arrows {
  display: block;
  margin: 0px;
  width: 16px;
  height: 16px;
}

.custom-carousel .mouse_scroll.next .m_scroll_arrows {
  transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}
.custom-carousel .mouse_scroll.prev .m_scroll_arrows {
  transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
}

.custom-carousel .arrow-wrapper {
  display: flex;
}
.custom-carousel-wrapper > img {
  position: absolute;
  width: 150px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  bottom: 1%;
}
