@keyframes topMove {
    0% {
        top: -90px;
    }

    100% {
        top: 0px;
    }
}

@keyframes visiblity0 {
    0% {
        visibility: visible;
    }

    20% {
        visibility: hidden;
    }

    100% {
        visibility: hidden;
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        left: 100%;
    }

    to {
        left: 0%;
        opacity: 1;
    }
}




.primary-button button{
    border: 3px solid #b78b39;
    border-radius: 21vh;
    width: 24vh;
    height: 8vh;
    letter-spacing: 2px;
    font-size: 22px;
    font-weight: 700;
}

.primary-button button:hover{
    background-color: #b78b39;
    color: #fff;
}