.primary-button button {
  border: 1px solid #b78b39;
  border-radius: 21vh;
}

.primary-button button:hover {
  background-color: #b78b39;
  color: var(--white);
}

.section-header,
.section-header-sub {
  letter-spacing: 3px;
  font-weight: 500;
  color: var(--black);
}
.section-header-sub {
  margin-top: 14px;
  font-weight: 400;
}

/* Swipe Button */
.m_scroll_arrows {
  display: block;
  width: 5px;
  height: 5px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);

  border-right: 2px solid gray;
  border-bottom: 2px solid gray;
  margin: 0 0 3px 4px;

  width: 16px;
  height: 16px;
}

.one {
  margin-top: 1px;
}

.one,
.two,
.three {
  animation: mouse-scroll 1s infinite;
  -webkit-animation: mouse-scroll 1s infinite;
  -moz-animation: mouse-scroll 1s infinite;
}

.one {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  animation-delay: alternate;
}

.two {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -webkit-animation-direction: alternate;

  animation-delay: 0.2s;
  animation-direction: alternate;
  margin-top: -6px;
}

.three {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  -webkit-animation-direction: alternate;
  animation-delay: 0.3s;
  animation-direction: alternate;
  margin-top: -6px;
}

/* ul li generals */

.list .page-title {
  color: var(--white);
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 1px solid var(--gold);
  padding-left: 1.2em;
  letter-spacing: 1px;
}

.list .page-title::before {
  content: '';
  border-color: transparent var(--gold);
  border-style: solid;
  border-width: 0.35em 0 0.35em 0.45em;
  display: block;
  height: 0;
  width: 0;
  left: -1em;
  top: 1em;
  position: relative;
}

.list ul {
  padding: 5px;
}

.list ul li {
  line-height: 2em;
}

.list .icons svg {
  fill: white;
  width: 36px;
  height: 36px;
}
.list .icons svg:last-child {
  width: 28px;
  height: 28px;
  margin-bottom: 8px;
}

.list .icons svg:hover,
.list .icons img:hover {
  opacity: 0.5;
}
.list ul li a {
  color: var(--white) !important;
  text-transform: capitalize;
  letter-spacing: 2px;
}

.list ul li a:hover {
  color: var(--grayish-white) !important;
}

/* Divider */
.divider {
  height: 1px;
  width: 100%;
  background-color: var(--grayish-white);
}

.triangle-button {
  color: var(--gold);
}
